parameters:
	tmpDir: stantmp
	excludePaths:
		- %rootDir%/../../../src/Generated/*

	parallel:
		processTimeout: 3000.0
		maximumNumberOfProcesses: 1

	tipsOfTheDay: false

	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
